<!-- STYLES -->

<!-- General Style -->
<%- include('../layouts/styles') -%>

    <!-- Custom style for only this page starts -->

    <!-- Custom style for only this page ends -->
    </head>

    <body>

        <!-- Preloader start -->
        <%- include('../layouts/preloader') -%>


            <!-- Main wrapper start -->
            <div id="main-wrapper">

                <!-- Nav header start -->
                <%- include('../layouts/nav-header') -%>

                    <!-- Sidebar start -->
                    <%- include('../layouts/sidebar') -%>

                        <!-- Content body start -->
                        <div class="content-body">
                            <div class="container-fluid">
                                <!-- Page content starts -->

                                <!-- Page content ends -->
                            </div>
                        </div>
                        <!-- Content body end -->


                        <!-- Footer start -->
                        <%- include('../layouts/footer') -%>
            </div>
            <!-- Main wrapper end -->


            <!-- SCRIPTS -->

            <!-- General Script -->
            <%- include('../layouts/scripts') -%>

                <!-- Custom script for only this page starts -->

                <!-- Custom script for only this page ends -->

    </body>

    </html>